body{
    font-family: Arial, sans-serif;
    background:whitesmoke;
    text-align:center;
}

header{
    background: seagreen;
    color:white;
    padding:15px;
}
.site-header{
    background:seagreen;
    color:white;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
}

.logo{
    width:50px;
    height:auto;
}


.container{
    margin-top:60px;
}

a{
    display:inline-block;
    padding:10px 20px;
    background: darkolivegreen;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

a:hover{
    background:lightskyblue;
}

footer{
    margin-top:50px;
    background:darkslategrey;
    color:white;
    padding:15px;
    text-align:center;
}

body{
    font-family: Arial, sans-serif;
    background:whitesmoke;
    text-align:center;
}


/* Home PAge DESIGN */
.hero{
    background-image: url("/static/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding:95px 20px;
    color:white;
}
.features{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:50px;
}

.feature-box{
    background: lightgreen;
    padding:20px;
    width:250px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* LOGIN FORM DESIGN */

.login-container{
    width:400px;
    margin:60px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    text-align:left;
}

.login-container h3{
    text-align:center;
}

label{
    display:block;
    margin-top:15px;
}

input, select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid white;
}

button{
    width:100%;
    margin-top:20px;
    padding:12px;
    background:darkolivegreen;
    border:none;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background: skyblue;
}

.register{
    text-align:center;
    margin-top:15px;
}