<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseEnrollMate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="site-header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="CourseEnrollMate Logo" class="logo">
        <h1>CourseEnrollMate</h1>
    </header>
    {% block body %}

    {% endblock %}
    <footer>
    <p>© 2026 CourseEnrollMate | Developed By 40_D1 | Group 03 </p>
    </footer>
</body>
</html>