{% extends "base.html" %}

{% block body %}

<div class="hero">
    <h2>Advanced University Course Management Solution</h2>
    <p>Manage courses, enroll instantly and track your academic progress.</p>
    <br><br>
    <a href="/login">Login</a>
    <a href="/register">Create Account</a>
</div>
<div class="features">

    <div class="feature-box">
        <h3>Easy Enrollment</h3>
        <p>Enroll in courses with one click.</p>
    </div>

    <div class="feature-box">
        <h3>Admin Management</h3>
        <p>Admins can add, update and remove courses.</p>
    </div>

    <div class="feature-box">
        <h3>Secure Login</h3>
        <p>Role-based authentication system.</p>
    </div>

</div>
<br><br>
<div class="about">
    <h3>About CourseEnrollMate</h3>
    <p>This system helps students enroll in courses and allows administrators to manage academic programs efficiently.</p>
</div>
{% endblock %}