{% extends "base.html" %}
{% block body %}

<h2>Manage Enrollment Deadlines</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
        <p style="color:red;">{{ msg }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="login-container">
    <h3>Add Deadline</h3>

    <form method="POST" action="{{ url_for('manage_deadlines') }}">

    <label>Semester:</label>
    <select name="semester_id" required>
        <option value="">Select Semester</option>
        {% for semester in semesters %}
        <option value="{{ semester.id }}">{{ semester.semester_name }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Deadline Date:</label>
    <input type="date" name="deadline" required>

    <br><br>

    <button type="submit">Add Deadline</button>

    </form>
</div>

<br><br>

<div class="table-container">
    <h3>Existing Deadlines</h3>

    <table>
        <thead>
            <tr>
            <th>Semester</th>
            <th>Deadline</th>
            <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for d in deadlines %}
            <tr>
            <td>{{ d.semester_name }}</td>
            <td>{{ d.deadline_date }}</td>
            <td>
            <form method="POST" action="{{ url_for('delete_deadline', id=d.id) }}">
                <button type="submit">Delete</button>
            </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}